/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/flexboxgrid/css/flexboxgrid.min.css';

body{
    padding: 0;
}    

.mat-tab-links{
    display: flex;
    justify-content: center;
}

.mat-tab-link{
    flex-grow: 1;
}

.mat-tab-labels{
    display: flex;
    justify-content: center;
}

.mat-tab-label{
    flex-grow: 1;
}
h1{
    font-weight: 500;
}
h2{
    font-weight: 400;
}
h3{
    font-weight: 300;
}

// .form-container{
//     width: 500px;
//     display: flex;
//     flex : 0 0 500px;
// }

// .inner-container{
//     width: 500px;
//     display: flex;
//     flex : 0 0 500px;
// }

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.success{
    background: #4CAF50 !important;
}

.danger{
    background: #F44336 !important;
}

.warning{
    background: #FF9800 !important;
}

fieldset{
    border: none;
}

.pointer{
    cursor: pointer;
}

.hide{
    display: none !important;
}

.p-r-10{
    padding-right: 10px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-20{
    margin-top: 20px;
}

.mat-yellow.mat-chip-selected{
    background: #FF9800 !important;
}
// .row.flex-start{
//     justify-content: flex-start;
// }

// .row div{
//     flex-grow: 1;
// }