/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/flexboxgrid/css/flexboxgrid.min.css';
    

.mat-tab-links{
    display: flex;
    justify-content: center;
}

.mat-tab-link{
    flex-grow: 1;
}

.row{
    display: flex;
    justify-content: space-around;
}

.text-left{
    text-align: left;
}

// .row.flex-start{
//     justify-content: flex-start;
// }

// .row div{
//     flex-grow: 1;
// }