<md-table [dataSource]="tabla.dataSource" mdSort (mdSortChange)="tabla.sortData($event)">

    <ng-container cdkColumnDef="id">
        <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
        <md-cell *cdkCellDef="let row">
            {{row.id}}
        </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="nombre">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Nombre </md-header-cell>
        <md-cell *cdkCellDef="let row">
            {{row.nombre}}
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="direccion">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Direccion </md-header-cell>
        <md-cell *cdkCellDef="let row">
            {{row.direccion}}
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="estado">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Estado </md-header-cell>
        <md-cell *cdkCellDef="let row">
            {{row.estado}}
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="capacidad">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Capacidad </md-header-cell>
        <md-cell *cdkCellDef="let row">
            {{row.capacidad}}
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="ocupacion">
        <md-header-cell *cdkHeaderCellDef> Ocupacion </md-header-cell>
        <md-cell *cdkCellDef="let row">
            <md-progress-bar mdTooltip="{{row.ocupacion}}" mdTooltipPosition="left" style="width:80%;height: 10px;" [color]="calcOcupacion(row)>70? 'warn':'primary'" [value]="calcOcupacion(row)"></md-progress-bar>
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="ver">
        <md-header-cell *cdkHeaderCellDef > Ver </md-header-cell>
            <md-cell *cdkCellDef="let row"> <md-icon class="pointer" (click)="irDetalle(row)">remove_red_eye</md-icon> </md-cell>
        </ng-container>

    <md-header-row *cdkHeaderRowDef="vColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: vColumns;"></md-row>
</md-table>
<app-paginator [tabla]="tabla"></app-paginator>
