<md-table [dataSource]="tabla.dataSource" mdSort (mdSortChange)="tabla.sortData($event)">

  <ng-container cdkColumnDef="id">
    <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.id}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="nombre">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Nombre </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.nombre}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="apellido">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Apellido </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.apellido}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="username">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Username </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.username}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="estado">
    <md-header-cell *cdkHeaderCellDef md-sort-header> Estado </md-header-cell>
    <md-cell *cdkCellDef="let row">
        <md-chip-list>
            <md-chip class="pointer" (click)="estado(row,'HABILITADO')" [selected]="row.estado=='HABILITADO'">Hab</md-chip>
            <md-chip class="pointer" (click)="estado(row,'SUSPENDIDO')" [selected]="row.estado=='SUSPENDIDO'" color="yellow">Susp</md-chip>
            <md-chip class="pointer" (click)="estado(row,'BANEADO')" [selected]="row.estado=='BANEADO'" color="warn">Ban</md-chip>
        </md-chip-list>
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="ver">
    <md-header-cell *cdkHeaderCellDef > Ver </md-header-cell>
    <md-cell *cdkCellDef="let row"> <md-icon class="pointer" (click)="irDetalle(row)">remove_red_eye</md-icon> </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="vColumns"></md-header-row>
  <md-row *cdkRowDef="let row; columns: vColumns;"></md-row>
    
</md-table>

<app-paginator [tabla]="tabla"></app-paginator>