<div *ngIf="user" class="row between-xs">
    <div class="col-xs-6">
        <h2>Datos de portal</h2>
        <div class="row">
            <div class="col-xs-6">
                <h3>Usuario</h3>
                {{user.username}}
            </div>
            <div class="col-xs-6">
                <h3>Mail</h3>
                {{user.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>Estado</h3>
                <md-chip-list *ngIf="!lockEdit">
                    <md-chip class="pointer" (click)="estado('HABILITADO')" [selected]="user.estado=='HABILITADO'">Hab</md-chip>
                    <md-chip class="pointer" (click)="estado('SUSPENDIDO')" [selected]="user.estado=='SUSPENDIDO'" color="yellow">Susp</md-chip>
                    <md-chip class="pointer" (click)="estado('BANEADO')" [selected]="user.estado=='BANEADO'" color="warn">Ban</md-chip>
                </md-chip-list>
                <md-chip-list *ngIf="lockEdit">
                    <md-chip>{{user.estado}}</md-chip>
                </md-chip-list>
            </div>
            <div class="col-xs-6">
                <h3>Rol</h3>
                <md-chip-list *ngIf="!lockEdit">
                    <md-chip class="pointer" (click)="rol('USER')" [selected]="user.rol=='USER'">Usuario</md-chip>
                    <md-chip class="pointer" (click)="rol('ADMIN')" [selected]="user.rol=='ADMIN'" color="warn">Admin</md-chip>
                </md-chip-list>
                <md-chip-list *ngIf="lockEdit">
                    <md-chip>{{user.rol}}</md-chip>
                </md-chip-list>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <h2>Datos personales</h2>
        <div class="row">
            <div class="col-xs-6">
                <h3>Nombre</h3>
                {{user.nombre}}
            </div>
            <div class="col-xs-6">
                <h3>Apellido</h3>
                {{user.apellido}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>DNI</h3>
                {{user.dni}}
            </div>
            <div class="col-xs-6">
                <h3>Sexo</h3>
                {{user.sexo}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>Domicilio</h3>
                {{user.calle}} N° {{user.numero}} - {{user.localidad.nombre}}
            </div>
            <div class="col-xs-6">
                <h3>Fecha de nacimiento</h3>
                {{user.fechaNacimiento | cDate}}
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>