<md-table [dataSource]="tabla.dataSource" mdSort (mdSortChange)="tabla.sortData($event)">

  <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.id}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="estado">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Estado </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.estado}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="estacion">
      <md-header-cell *cdkHeaderCellDef> Estacion </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.estacion && row.estacion.nombre}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="fechaIngreso">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Fecha de Ingreso </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.fechaIngreso | cDate}}
    </md-cell>
  </ng-container>
  
  <ng-container cdkColumnDef="usuario">
      <md-header-cell *cdkHeaderCellDef> Alquilada por </md-header-cell>
    <md-cell *cdkCellDef="let row">
        {{row.usuario && row.usuario.username}}
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="fechaDevolucion">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Fecha de Devolucion </md-header-cell>
    <md-cell *cdkCellDef="let row">
        <span [returnDate]="row.fechaDevolucion"></span>
    </md-cell>
  </ng-container>

  <ng-container cdkColumnDef="ver">
    <md-header-cell *cdkHeaderCellDef > Ver </md-header-cell>
    <md-cell *cdkCellDef="let row"> <md-icon class="pointer" (click)="irDetalle(row)">remove_red_eye</md-icon> </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="vColumns"></md-header-row>
  <md-row *cdkRowDef="let row; columns: vColumns;"></md-row>
    
</md-table>

<app-paginator [tabla]="tabla"></app-paginator>