<div class="form-container">
  <form method="POST" (ngSubmit)="doRegister()" #RegF="ngForm">
      <fieldset [disabled]="registrado">
      <div fxLayout="row" class="row" fxLayoutGap="50px" fxLayoutAlign="space-between center" >
          <md-input-container>
            <input mdInput [(ngModel)]="user.email" name="email" type="email" placeholder="Mail" required="true" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
          </md-input-container>
          <md-input-container>
            <input mdInput [(ngModel)]="user.username" name="username" type="text" placeholder="Usuario" required="true">
          </md-input-container>
      </div>

      <div fxLayout="row" class="row" fxLayoutGap="50px" fxLayoutAlign="space-between center" >
          <md-input-container>
            <input mdInput [(ngModel)]="user.apellido" name="apellido" type="text" placeholder="Apellido" required="true">
          </md-input-container>

          <md-input-container>
            <input mdInput [(ngModel)]="user.nombre" name="nombre" type="text" placeholder="Nombre" required="true">
          </md-input-container>
      </div>

      <div fxLayout="row" class="row" fxLayoutGap="50px" fxLayoutAlign="space-between center" >
          <md-input-container>
            <input mdInput [(ngModel)]="user.calle" name="calle" type="text" placeholder="Calle" required="true">
          </md-input-container>
          <md-input-container>
            <input mdInput [(ngModel)]="user.numero" name="nro" type="text" placeholder="N°" required="true">
          </md-input-container>
      </div>

      <div fxLayout="row" class="row" fxLayoutGap="50px" fxLayoutAlign="space-between center" >
        <md-select placeholder="Localidad" name="localidad" [(ngModel)]="user.localidad" fxFlexFill required="true">
          <md-option *ngFor="let loc of localidades" [value]="loc">{{ loc.nombre }}</md-option>
        </md-select>
      </div>

      <div fxLayout="row" class="row" fxLayoutGap="50px" fxLayoutAlign="space-between center">
        <md-input-container>
          <input mdInput [mdDatepicker]="picker" [(ngModel)]="user.fechaNacimiento" [max]="maxDate" placeholder="Fecha de nacimiento" name="fechaNacInput" required="true">
          <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker startView="year" name="fechaNac" [startAt]="startDate" ngDefaultControl></md-datepicker>
        <md-radio-group name="sexo" [(ngModel)]="user.sexo" required="true">
          <div fxLayout="column">
            <md-radio-button value="M">Masculino</md-radio-button>
          </div>
          <div fxLayout="column">
            <md-radio-button value="F">Femenino</md-radio-button>
          </div>
        </md-radio-group>
        
      </div>
      <div fxLayout="row" class="row" fxLayoutGap="50px" fxLayoutAlign="center center">
        <button [disabled]="RegF.invalid" md-raised-button type="submit" [color]="'primary'" >Registrarse</button>
      </div>
      </fieldset>


    </form>

</div>
<div *ngIf="registrado">
  <h2>Registrado</h2>
  <p>Su usuario y contrseña son {{ user.username }}, {{user.password}}</p>
</div>